In [12]:
import pandas as pd
import numpy.random as nr
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
df=pd.DataFrame(np.random.randint(100,size=(10,8)),
                columns=list('ABCDEFGH'),
                index=(f'R{i}' for i in range(10)))

In [68]:
df

     A   B   C   D   E   F   G   H
R0  23  59  51  78  60  31  34  48
R1  61  72  79  45  70  41  27  71
R2  65  60  72  79   5  97  46  39
R3  26  28  84  40  80  82  65  25
R4  31  74  23  90  61  21  28  73
R5  16  54  78   1  11  34  71  89
R6  44   7  30  25  28  49  74  87
R7  67  80   3  41  54  52  32   9
R8  29  79  20  31  13  32  24  32
R9  57   0   8   8  47   4  91  29

In [71]:
X

     A   B   C   D   E   F   G
R0  23  59  51  78  60  31  34
R1  61  72  79  45  70  41  27
R2  65  60  72  79   5  97  46
R3  26  28  84  40  80  82  65
R4  31  74  23  90  61  21  28
R5  16  54  78   1  11  34  71
R6  44   7  30  25  28  49  74
R7  67  80   3  41  54  52  32
R8  29  79  20  31  13  32  24
R9  57   0   8   8  47   4  91

In [70]:
X = df.drop('H', axis=1)
y = df['H']

In [72]:
mod = LinearRegression().fit(X,y)

In [73]:
mod.score(X,y)

0.4957484349858907

In [74]:
list(zip(df.columns,mod.coef_))

[('A', -0.039210659545003086),
 ('B', -0.47614903579684187),
 ('C', 0.6661599338984796),
 ('D', 0.18227987820623168),
 ('E', -0.4613625500254947),
 ('F', -0.7291106010300609),
 ('G', -0.4146821790979719)]

In [75]:
print(df['A'].mean())
print(np.std(df['A']))

41.9
18.239791665476883

In [76]:
print(X['A'].mean())
print(np.std(df['A']))

41.9
18.239791665476883

In [ ]:
sc.inverse_transform()

In [77]:
df['A']

R0    23
R1    61
R2    65
R3    26
R4    31
R5    16
R6    44
R7    67
R8    29
R9    57
Name: A, dtype: int32

In [78]:
X['A']

R0    23
R1    61
R2    65
R3    26
R4    31
R5    16
R6    44
R7    67
R8    29
R9    57
Name: A, dtype: int32

In [85]:
list(zip(df.columns,mod_sc.coef_))

[('A', -0.7151942611668466),
 ('B', -13.31013289157757),
 ('C', 19.98213319955245),
 ('D', 5.218937444549578),
 ('E', -11.708887062345129),
 ('F', -19.141201621021743),
 ('G', -9.457663286113315)]

In [86]:
-0.7151942611668466/-0.039210659545003086

18.2397916654781

In [79]:
list(zip(df.columns,mod.coef_))

[('A', -0.039210659545003086),
 ('B', -0.47614903579684187),
 ('C', 0.6661599338984796),
 ('D', 0.18227987820623168),
 ('E', -0.4613625500254947),
 ('F', -0.7291106010300609),
 ('G', -0.4146821790979719)]

In [80]:
sc = StandardScaler()
X_sc = sc.fit_transform(X)

In [81]:
mod_sc = LinearRegression().fit(X_sc, y)

In [82]:
mod_sc.score(X_sc, y)

0.4957484349858906

In [83]:
X

     A   B   C   D   E   F   G
R0  23  59  51  78  60  31  34
R1  61  72  79  45  70  41  27
R2  65  60  72  79   5  97  46
R3  26  28  84  40  80  82  65
R4  31  74  23  90  61  21  28
R5  16  54  78   1  11  34  71
R6  44   7  30  25  28  49  74
R7  67  80   3  41  54  52  32
R8  29  79  20  31  13  32  24
R9  57   0   8   8  47   4  91

In [84]:
Xsc=pd.DataFrame(data=X_sc, columns=X.columns)
Xsc

          A         B         C         D         E         F         G
0 -1.036196  0.275455  0.206694  1.194491  0.673787 -0.506612 -0.666462
1  1.047161  0.740510  1.140152  0.041912  1.067815 -0.125701 -0.973385
2  1.266462  0.311229  0.906788  1.229417 -1.493365  2.007404 -0.140308
3 -0.871720 -0.833521  1.306841 -0.132721  1.461843  1.436037  0.692769
4 -0.597595  0.812057 -0.726764  1.613610  0.713190 -0.887524 -0.929539
5 -1.419972  0.096588  1.106814 -1.494860 -1.256948 -0.392339  0.955846
6  0.115133 -1.584763 -0.493399 -0.656621 -0.587101  0.179028  1.087385
7  1.376112  1.026697 -1.393519 -0.097795  0.437371  0.293302 -0.754154
8 -0.707245  0.990924 -0.826777 -0.447061 -1.178143 -0.468521 -1.104923
9  0.827860 -1.835177 -1.226830 -1.250373  0.161551 -1.535074  1.832769

In [64]:
np.mean(X['A'])

41.9